* {
  margin: 0;
}

.app {
  orientation: row;
  background-color: #DCDCDC;
  height: 650px;
}

.app__title {
  text-align: center;
}

.app__players {
  display: flex;
}

.app__playerLeft {
  width: 50%;
  padding: 5px;
  background-color: #CFD6E3;
}

.app__playerLeft__choice {
  margin-top: 15px;
}

.app__playerLeft__choice > h4 {
  margin-bottom: 5px;
}

.app__playerLeft__choice > h3 {
  margin-top: 5px;
}

.app__playerRight {
  width: 50%;
}

.app__owner {
  height: 100px;
  margin-left: 5px;
  display: flex;
}

.app__owner__withdraw {
  width: 50%;
}

.app__owner__deposit {
  padding-top: 30px;
  width: 50%;
}

.app__owner > h4 {
  margin-bottom: 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
